@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }

  *{
      padding: 0;
      margin: 0;
  }


  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #CC95C0;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .search {
    display: flex;
  }

  .search input {
    width: 5px;
    height: 30px;
    font-family: 'vazir';
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    outline: none;
    position: relative;
    box-sizing: border-box;
    /* border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px; */
}

.search button {
    height: 30px;
    width: 30px;
    border: none;
    padding: 5px 10px;
    background-color: white;
    box-sizing: border-box;
    outline: none;
    position: absolute;
    text-align: center;
    align-items: center;
    
}
